In [4]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [5]:
from sklearn.metrics import accuracy_score

In [7]:
data = pd.read_csv("https://raw.githubusercontent.com/dhirajk100/Naive-Bayes/master/Naive-Bayes-Classification-Data.csv")

In [8]:
data.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

In [9]:
data.shape

(995, 3)

In [29]:
X = data.drop('diabetes',axis =1)
X

     glucose  bloodpressure
0         40             85
1         40             92
2         45             63
3         45             80
4         40             73
..       ...            ...
990       45             87
991       40             83
992       40             83
993       40             60
994       45             82

[995 rows x 2 columns]

In [30]:
y = data["diabetes"]
y

0      0
1      0
2      1
3      0
4      1
      ..
990    0
991    0
992    0
993    1
994    0
Name: diabetes, Length: 995, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

In [32]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.3, random_state = 6)

In [40]:
def model_fit(alg,train,test,y_train,y_test):
    alg.fit(train_X,train_y)
    predictions = alg.predict(test_X)
    print(classification_report(test_y,predictions))    
    score = cross_val_score(model, train_X, train_y, cv = 10, scoring = "neg_root_mean_squared_error" )
    print("Cross validation Score  = ",np.mean(np.abs(score)))

In [41]:
model = GaussianNB()

In [42]:
model_fit(model,train_X,test_X,train_y,test_y)

              precision    recall  f1-score   support

           0       0.94      0.91      0.93       149
           1       0.92      0.95      0.93       150

    accuracy                           0.93       299
   macro avg       0.93      0.93      0.93       299
weighted avg       0.93      0.93      0.93       299

Cross validation Score  =  0.250515910696428

In [43]:
model.fit()

TypeError: fit() missing 2 required positional arguments: 'X' and 'y'